$red:#EB5757;
$black:#272727;
$grey:#5E5E5E;
$redhover:#d44a4a;
$fontBold:"BebasNeue Bold";
$fontLight:"BebasNeue Light";
$fontBook:"BebasNeue Book";
$fontThin:"BebasNeue Thin";
$widthxl: 1400px;
$widthlg: 1200px;
$widthmd:992px;
$widthtable:760px;
$widthsm:650px;
$widthm:400px;
$col:calc(100% / 6);
