<div class="join-team-block">
    <div class="container">
        <div class="join-team-block__wrapper">
            <div class="join-team-block__left">
                <div class="join-team-block__title title">
                    Join our community now!
                </div>
                <div class="join-team-block__text text">
                    The key to your digital future
                </div>
            </div>
            <form class="join-team-block__right join-team-form">
                <div class="join-team-form__col">
                    <label for="" class="error">
                        <input type="text" placeholder="Name">
                        <span class="erorr-input">
                            <img src="img/exclamation.svg" alt="">
                            <span class="erorr-input__popup">
                                Ты шо дурачёк?
                            </span>
                        </span>
                    </label>
                    <label for="">
                        <input type="text" placeholder="Your E-mail">
                        <span class="erorr-input">
                            <img src="img/exclamation.svg" alt="">
                        </span>
                    </label>
                </div>
                <div class="join-team-form__col">
                    <label for="" class="error">
                        <input type="text" placeholder="Number">
                        <span class="erorr-input reverse">
                            <img src="img/exclamation.svg" alt="">
                            <span class="erorr-input__popup">
                                Ты шо дурачёк?
                            </span>
                        </span>
                    </label>
                    <button class="btn-white-shadow">
                        <span>Join now</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>